.MuiAutocomplete-noOptions {
  text-align: center;
}

.explore-grid-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  grid-gap: 1.5rem;
  padding: 1rem;
}

.explore-grid-item {
  position: relative;
  display: grid;
}

.explore-grid-item::before {
  position: relative;
  content: "";
  padding-bottom: 100%;
  display: block;
}

.explore-grid-item::before,
.explore-grid-item .post-image {
  grid-area: 1 / 1 / 2 / 2;
}

.explore-grid-item .post-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.explore-grid-item:hover .after {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}

.explore-grid-item .after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  color: #fff;
  text-align: center;
}

.explore-grid-item > .after > div {
  display: flex;
  margin: 0 1rem;
}

.double-grid-square {
  grid-area: 1 / 2 / 3/ 4;
}

@media (max-width: 735px) {
  .explore-grid-container {
    grid-gap: 3px;
  }

  .explore-grid-item > .after > div {
    margin: 0 0.5rem;
  }
}

.loading-progress-bar {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;
}

#loading-animation {
  height: 4px;
  background: #27c4f5 -webkit-gradient(linear, left top, right top, from(#27c4f5), color-stop(#a307ba), color-stop(#fd8d32), color-stop(#70c050), to(#27c4f5));
  background: #27c4f5
    linear-gradient(to right, #27c4f5, #a307ba, #fd8d32, #70c050, #27c4f5);
  background-size: 500%;
  -webkit-animation: 2s linear infinite barprogress, 0.3s fadein;
  animation: 2s linear infinite barprogress, 0.3s fadein;
  width: 100%;
}
@-webkit-keyframes barprogress {
  0% {
    background-position: 0% 0;
  }
  to {
    background-position: 125% 0;
  }
}
@keyframes barprogress {
  0% {
    background-position: 0% 0;
  }
  to {
    background-position: 125% 0;
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
